<?xml version="1.0" encoding="utf-8"?>
<manifest
	package="com.iec.dwx.timer"
	xmlns:android="http://schemas.android.com/apk/res/android">

	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.READ_LOGS"/>

	<uses-permission android:name="android.permission.GET_TASKS"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
	<uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
	<uses-permission android:name="android.permission.GET_ACCOUNTS"/>

	<uses-permission-sdk-23 android:name="android.permission.READ_LOGS"/>
	<uses-permission-sdk-23 android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission-sdk-23 android:name="android.permission.READ_EXTERNAL_STORAGE"/>
	<uses-permission-sdk-23 android:name="android.permission.READ_PHONE_STATE"/>
	<uses-permission-sdk-23 android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission-sdk-23 android:name="android.permission.ACCESS_WIFI_STATE"/>
	<uses-permission-sdk-23 android:name="android.permission.INTERNET"/>

	<application
		android:allowBackup="true"
		android:icon="@mipmap/icon"
		android:label="@string/app_name"
		android:supportsRtl="true"
		android:theme="@style/AppTheme">

		<activity android:name=".Activities.StartActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity android:name=".Activities.TimeActivity">
		</activity>
		<activity android:name=".Activities.MainActivity">
		</activity>
		<activity android:name=".Activities.EditAchievementActivity">
		</activity>
		<activity android:name=".Activities.MyWishDetailsActivity"
			  >
		</activity>
		<activity android:name=".Activities.OtherWishesActivity"/>
		<activity android:name=".Activities.ShowAchievementActivity">
		</activity>
		<activity android:name=".Activities.AboutActivity">
		</activity>
		<activity android:name=".Activities.ManageSkillActivity">
		</activity>
		<activity
			android:name=".Activities.WishCommentActivity"
			android:windowSoftInputMode="adjustResize"
		    android:theme="@style/WishTransparent"
			></activity>

		<activity
			android:name="com.mob.tools.MobUIShell"
			android:configChanges="keyboardHidden|orientation|screenSize"
			android:screenOrientation="portrait"
			android:theme="@android:style/Theme.Translucent.NoTitleBar"
			android:windowSoftInputMode="stateHidden|adjustResize">
			<intent-filter>
				<data android:scheme="tencent801307650"/>
				<action android:name="android.intent.action.VIEW"/>

				<category android:name="android.intent.category.BROWSABLE"/>
				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
		</activity>

		<activity android:name=".TestActivity">
			<!--<intent-filter>-->
			<!--<action android:name="android.intent.action.MAIN" />-->
			<!--<category android:name="android.intent.category.LAUNCHER" />-->
			<!--</intent-filter>-->
		</activity>

	</application>

</manifest>
